# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build
build*

# vscode
.vscode

# bisect
_coverage
bisect*.coverage

# menhir
*.automaton

# temporary files
*.swp
*~
\#*\#
.DS_Store

# compiler output
output
*.output
*.lexed
*.parsed
*.typed
*.ir

# executable
/xic

# deliverable
*.zip
*.log
