# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build
build*

# bisect
_coverage
bisect*.coverage

# menhir
*.automaton

# temporary files
*.swp
*~
\#*\#
.DS_Store

# executable
xic

# deliverable
*.zip
*.log
